@import './colors';

$font-family: GOT;

.character {
  width: 100%;
  color: $white;
  &__header {
    width: 100%;
    & h1,
    h2,
    h4 {
      text-align: center;
      margin-bottom: 0.5vw;
    }
    & #profile-img-tritter {
      width: 15vw;
      height: 15vw;
      border: 3px solid $gold;
      border-radius: 50%;
      margin: 1vw auto;
      display: block;
    }
  }
  &-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
    padding: 1vw;
    border-top: 1px solid $gold;
    border-bottom: 1px solid $gold;
    &-lists {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5vw;
      padding: 1vw;
      border-bottom: 1px solid $gold;
      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.5vw 0;
        & ul {
          padding: 1vw;
        }
        & li {
          font-size: 0.75vw;
          word-break: break-word;
        }
        & span {
          margin-left: 1vw;
          margin-top: 1vw;
        }
      }
    }
    &__item {
      & img {
        width: 4vw;
        height: 4vw;
      }
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0.5vw 0;
      & span {
        margin-left: 1vw;
      }
      & a {
        text-decoration: none;
        color: $white;
        & span {
          margin-left: 1vw;
        }
        &:hover {
          color: $gold;
        }
      }
    }
  }
}

.back {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: $black;
  height: 5vh;
  & button {
    letter-spacing: 1px;
    border: none;
    padding: 0.5rem;
    color: $white;
    font-family: $font-family;
    background-color: $night-sky;
    cursor: pointer;
  }
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
  text-align: left;
  font-size: 1vw;
  padding: 2vw;
  & div {
    padding: 1vw;
  }
  & p {
    margin-bottom: 1vw;
  }
  &-lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
    width: 100%;
    text-align: left;
    font-size: 1vw;
    padding: 2vw;
  }
}
