@import 'styles/books';
@import 'styles/character-details';
@import 'styles/characters';
@import 'styles/house-details';
@import 'styles/housesBnb';
// @import 'styles/houses';
@import 'styles/colors';

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10001;
  color: $gold;
}

section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, $grey, transparent);
  z-index: 1000;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }
  & #mountains {
    z-index: 10;
  }
  & #dragon {
    z-index: 9;
  }
  & #play {
    padding: 8px 30px;
    display: inline-block;
    border-radius: 40px;
    background: $white;
    color: $night-sky;
    font-size: 1.5em;
    z-index: 9;
    text-decoration: none;
    transform: translateY(100px);
  }
}

.explore {
  width: 100%;
  position: relative;
  background: $grey;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  & h1 {
    text-align: center;
    color: $white;
    margin-bottom: 2rem;
  }
  &-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &__item {
      display: flex;
      align-items: center;
      width: 50%;
      background-color: $grey;
      padding: 1rem;
      border: 3px solid $gold;
      border-radius: 25px;
      margin-bottom: 1rem;
      text-decoration: none;
      &:hover {
        cursor: pointer;
        background-color: $night-sky;
      }
      & h2 {
        color: $gold;
        margin-left: 1rem;
      }
    }
    &__img {
      height: 64px;
    }
    &__group {
      display: flex;
      flex-direction: row;
    }
  }
}

.splashscreen {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, $black, $grey);
  & h1 {
    font-size: 46px;
    color: $white;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
}

#audio-player {
  z-index: 9999;
  position: fixed;
  bottom: 2rem;
  right: 4rem;
}

#playButton {
  cursor: pointer;
}

.links {
  color: $white;
  text-decoration: none;
  &:hover {
    color: $gold;
  }
}
